        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background: #35424a;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }

        nav {
            background: #35424a; /* Цвет фона для навигации */
            padding: 10px; /* Отступы вокруг навигации */
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 15px;
        }

        /* Стили для выделения контактов */
        .contact-highlight {
            color: orange; /* Устанавливаем оранжевый цвет текста */
            font-weight: bold; /* Делаем текст жирным (по желанию) */
        }

        .contact-highlight a {
            color: orange; /* Устанавливаем оранжевый цвет для ссылок */
            text-decoration: none; /* Убираем подчеркивание (по желанию) */
        }


        /* Стили для ul в секции "Обо мне" */
        #about ul {
            list-style-type: none !important; /* Убираем маркеры для списка */
            padding-left: 0 !important; /* Убираем отступ слева для списка */
            margin: 0 !important; /* Убираем внешние отступы */
        }

        #about ul li {
            color: #35424a; /* Установите цвет текста для элементов списка */
            margin-bottom: 10px; /* Отступ между элементами списка */
            background-color: #f9f9f9; /* Цвет фона для каждого элемента списка */
            padding: 10px; /* Отступы внутри элемента списка */
            border-radius: 5px; /* Закругление углов */
            border: 1px solid #ddd; /* Цвет рамки */
        }


        /* Стили для навигационных ссылок в секции проектов */
        #projects nav a {
            color: #35424a; /* Установите цвет текста на темный цвет */
            text-decoration: none;
        }

        #projects nav a:hover {
            color: #007BFF; /* Цвет текста при наведении (можно изменить) */
        }

        h1 {
            margin: 0;
        }

        section {
            padding: 20px;
            margin: 20px;
            background: #ffffff;
            border-radius: 5px;
        }

        footer {
            text-align: center;
            padding: 20px 0;
            background: #35424a;
            color: #ffffff;
            margin-top: 20px;
        }

        h2 {
            color: #35424a;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            margin-bottom: 15px;
            border: 1px solid #ddd; /* Цвет рамки */
            border-radius: 8px; /* Закругление углов */
            padding: 15px; /* Отступы внутри рамки */
            background-color: #f9f9f9; /* Цвет фона для каждого проекта */
        }

        img {
            width: 200px;
            height: auto;
            margin-right: 10px;
            vertical-align: middle;
        }

        /* Стили для ul в секции "Обо мне" */
        #about ul {
            list-style-type: disc; /* Установите маркеры для списка */
            padding-left: 20px; /* Отступ слева для списка */
        }

        #about ul li {
            color: #35424a; /* Установите цвет текста для элементов списка */
        }

        /* Адаптивные стили */
        @media (max-width: 1100px) {
            nav ul li {
                display: block; /* Переключение на блочное отображение для мобильных устройств */
                margin: 10px 0; /* Уменьшение отступов между элементами навигации */
            }
            img {
                display: none; /* Скрыть изображения на экранах */
            }

            section {
                margin: 10px; /* Уменьшение отступов для секций */
            }
        }

        @media (max-width: 480px) {
            header {
                padding: 15px 0; /* Уменьшение отступов в заголовке */
            }

            img {
                display: none; /* Скрыть изображения на экранах */
            }                
            h1 {
                font-size: 1.5em; /* Уменьшение размера заголовка */
            }

            h2 {
                font-size: 1.2em; /* Уменьшение размера подзаголовка */
            }
        }
